root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{sln,csproj,vcxproj}]
end_of_line = crlf
charset = utf-8-bom

[*.sln]
indent_style = tab

[*.{csproj,vcxproj,props,filters,targets,nuspec,resx,manifest,yml,yaml}]
indent_size = 2
